.wrapper {
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.a {
	grid-column: 1 / 3;
	width: 89%;
}

.b {
	grid-column: 3 / 5;
	width: 89%;
}

img {
	border: 5px solid blue;
	padding: 5%;
}


body {
	background-image: url("../images/funky-lines.png");
}