.photo {
	height: 70%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
h3, p {
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
}
/*.optum {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.optum img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 500px;
}
.optum h3 {
	text-align: center;
	margin-top: 100px;
}
.optum p {
	text-align: center;
}

.automate {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.automate img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 500px;
}
.automate h3 {
	text-align: center;
	margin-top: 100px;
}
.automate p {
	text-align: center;
}

.powerley {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.powerley img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 550px;
}
.powerley h3 {
	text-align: center;
	margin-top: 100px;
}
.powerley p {
	text-align: center;
}

.tigers {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.tigers img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 550px;
}
.tigers h3 {
	text-align: center;
	margin-top: 100px;
}
.tigers p {
	text-align: center;
}

.resume {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.resume img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 600px;
}
.resume h3 {
	text-align: center;
	margin-top: 100px;
}
.resume p {
	text-align: center;
}

.pygame {
	width: 49%;
	height: 50%;
	display: inline-block;
}
.pygame img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 650px;
}
.pygame h3 {
	text-align: center;
	margin-top: 100px;
}
.pygame p {
	text-align: center;
}

.brew {
	width: 100%;
	height: 50%;
	display: inline-block;
	margin-bottom: 100px;
}
.brew img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 500px;
	width: 700px;
}
.brew h3 {
	text-align: center;
	margin-top: 100px;
}
.brew p {
	text-align: center;
}*/